<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Applicants Confirmation</title>
</head>

<body>
	<h1>Applicants Confirmation</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br>
        <strong>GPA: </strong><%- gpa %><br>
		<strong>Background Information: </strong><br>
		<%- background %><br>
        <hr color="gray">
		<h3>Task completed at <%- date %></h3>
		<hr color="gray">
        <a href="/">HOME</a>
	</div>
</body>

</html>
